/* .PlayVideo, */
.SideBar{
    padding-right: 0%;
    padding-left: 0%;
    padding-top: 0%;
    width: 40%;
}
.PlayVideo{
    width: 60%;
    /* padding-right: 1%;
    padding-left: 2%; */
    display: flex;
}
#video{
    width: 100%;
}
.content {
    display: flex;
    flex-direction: row;
    font-size: 1em;
}
/* .viewHeader {
    display: flex;
    width: 100%;
} */
/* input {
    width: 100%;
} */
.Rating {
    padding-top: 10%;
}
.video-preview:hover {
    border-style: groove;
    border-radius: 1%;
}
.Rating {
    padding: 0% 4% 4% 4%;
    border-style: groove;
    border-radius: 1%;
}
.submit{
    float: right;
}
.video-play{
    width: 90%;
}
.changeColor {
    color: black;
    /* background-color: aqua; */
    justify-content: center;
}
.changeColor:hover {
    color: white;
}
.chevron{
    /* top: 50%; */
    /* display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; */
  min-height: 80vh;
}